body{
    margin-left:450px;
}
.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    border:1px solid black;
    width:40%;
    background-color: bisque;
}
#title,#description{
    width:90%;
    margin:20px;
}
#save{
    background-color: rgb(107, 106, 163);
    color:white;
    border-radius: 5px;
    margin-left:40%;
    padding:10px;
    width:100px
}
#save:hover{
    color:black;
    background-color: aquamarine;
}
input[type="text"], textarea, input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}
#edit{
    background-color: aliceblue;
}
#cancel{
    background-color: beige;
}
#result{
    width:fit-content;
}
#close{
    float:right;
}
@media screen and (max-width:750px) {
    body{
        margin-left:200px;
    }
    .form{
        width:340px;
    }
}
@media screen and (max-width:640px) {
    body{
        margin-left:120px;
    }
}
@media screen and (max-width:530px) {
    body{
        margin-left:60px;
    }
}
@media screen and (max-width:450px) {
    body{
        margin-left:20px;
    }
}
#popupbg{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 186, 244, 0.483);
    z-index: 999;
}
#popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width:180px;
    height:150px;
    overflow: auto;
    background-color:#eae4e4;
    font-size: 14px;
    padding: 10px;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
